




{% extends 'base.html' %}


{% block title %}

Appointment || 

{% endblock %}

{% block body %}


<div class="he">
   <h5>POLO HOSPITAL</h5>
</div>





{% for a in messages %}
    <center><h5 style="color:rgb(17, 70, 37)">{{a}}</h5></center>
     {% endfor %}


  <form method="post" >
   {% csrf_token %}

<div class="container" >


   <label for="name">Name</label><br>
   <input type="text" name="name" placeholder="Full Name" required><br><br>

   <label for="age">Age</label><br>
   <input type="text" name="age" placeholder="Enter Age"  required><br><br>

   <label for="mobile">Mobile</label><br>
   <input type="text" name="mobile" placeholder="Mobile No."  required><br><br>
   <label for="address">Address</label><br>
   <input type="text" name="address" placeholder="Enter Address" required><br><br>

   <label for="gen">Gender:</label><br>
   <select name="gen" id="gen"  required>

<option value=""></option>
<option value="M">Male</option>
<option value="F">Female</option>
<option value="Other">Other</option>
</select> 


<br><br>

<div class="js">
    <button class="btn btn-success" value="submit">Book Appointment</button> 

</div>

</div>

  </form>


<div class="para">

   <i>Thank you to visting our website hope you are fine.........</i>
</div>

{% endblock %}